<div id="wrapper">
    <mat-toolbar>Add Branch</mat-toolbar>

    <form [formGroup]="branch_form">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Branch Name </mat-label>
            <input matInput placeholder="Enter Branch Name" formControlName="BranchName" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Branch Email </mat-label>
            <input matInput placeholder="Enter Branch Email" formControlName="BranchEmail" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contact Person </mat-label>
            <input matInput placeholder="Enter Contact Person" formControlName="ContactPerson" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Land Line No</mat-label>
            <input matInput placeholder="Enter Land Line No" formControlName="LandLineNo" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contact Person Mobile</mat-label>
            <input matInput placeholder="Enter Contact Person Mobile" formControlName="ContactPersonMobile" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> Contact Person Email</mat-label>
            <input matInput placeholder="Enter Contact Person Email" formControlName="ContactPersonEmail" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>GST No</mat-label>
            <input matInput placeholder="Enter GST No" formControlName="GSTNo" readonly> 
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Pan No</mat-label>
            <input matInput placeholder="Enter Pan No" formControlName="PanNo" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Pin Code</mat-label>
            <input matInput placeholder="Enter Pin Code" formControlName="PinCode" readonly>
        </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Branch Registration No</mat-label>
            <input matInput placeholder="Enter Branch Registration No" formControlName="BranchRegistrationNo" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>State Name</mat-label>
            <input matInput placeholder="Enter State Name" formControlName="StateName" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>State Code</mat-label>
            <input matInput placeholder="Enter State Code" formControlName="StateCode" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Registration Date</mat-label>
            <input matInput type="date" formControlName="RegistrationDate" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>City Name</mat-label>
            <input matInput placeholder="Enter City Name" formControlName="CityName" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>City Code</mat-label>
            <input matInput placeholder="Enter City Code" formControlName="CityCode" readonly>
        </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Branch Address </mat-label>
            <input matInput placeholder="Enter Branch Address" formControlName="BranchAddress" readonly>
        </mat-form-field>

    </form>

    <br>
</div>