#wrapper {
    background-color: #dce5f3;
  }
  
  .example-card {
    max-width: 90%;
    margin: 20px auto;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    z-index: 1;
  }
  
  mat-toolbar {
    position: relative;
    background-color: #bfd2f0;
    display: flex;
    justify-content: space-between;
  
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  mat-card-subtitle mat-icon,
  mat-card-title mat-icon,
  p mat-icon {
    font-size: medium;
    position: relative;
    top: 10px;
    color: #bfd2f0;
  }
  
  p {
    text-align: justify;
  }
  
  
  /* for search box   */
  
  * {
    box-sizing: border-box;
  }
  
  
  
  .search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  
  .input-search {
    height: 40px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #05aff6;
    padding-right: 40px;
    color: #000
  }
  
  .input-search::placeholder {
    color: #000000d1;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  
  .btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;   
    color: #000000ea;
    background-color: transparent;
    pointer-events: painted;
  }
  
  .btn-search mat-icon{
    font-size: 30px;
    width: 50px;
    height: 30px;
  }
  .btn-search:focus~.input-search {
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  
  .input-search:focus {
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  
  mat-card-actions{
   display: flex;
   justify-content: right;
  }

  .btnCls{
    z-index: 10 !important;

  }
  
  
  
  @keyframes youtubeAnim {
  
    0%,
    100% {
      color: #c9110f;
    }
  
    50% {
      color: #ff0000;
    }
  }
  
  /* footer  */