#wrapper{
    width: 100%;
    height: 100vh;
	background-image:url(../../assets/loginbgci.png) ;
	background-repeat: no-repeat;
	background-size: cover;
}
#title_name{
	margin-top: 80px;
	font-size: 40px;
	font-weight: bold;
	color: #04abf9e3;
}
#login_img{
    width: 100%;
    height: 200px;
	display: flex;
	justify-content: center;
}
#login_img img{
    position: relative;
    top: 88px;
}
mat-card{
    width: 290px;
    height: 350px;
    margin: 0px auto;
    position: relative;
    top: -20px;
	background-color: transparent;
	background-color: #b7c9f165;
}
mat-form-field{
    width: 100%;
}

button{
	color: whitesmoke;
   
    background-image: linear-gradient(to right,#045af9,#04aaf9,#04f9a7);
}

#btn{
	color: whitesmoke;
	width: 200px;
	height: 50px;
	font-size: large;
}

 /* for tost */
 ::ng-deep .redNoMatch
 {
   color:white;
   background: #429034 !important;
   position: relative;
   bottom: 50px;
 }

::ng-deep .errredNoMatch
 {
   color:white;
   background: #823217 !important;
   position: relative;
   top: 50px;
 }