<div id="wrapper">
<div id="login_img">
      <span id="title_name">Cloud<span style="color: #007cf0;">Gen</span></span>
    </div> 
<br/><br/>
<br/><br/>    <mat-card><br><br>
            <form [formGroup]="loginForm" >
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input (keyup.enter)="onLogin()" matInput type="text" placeholder="Enter Username" formControlName="username">
                </mat-form-field><br>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input (keyup.enter)="onLogin()" matInput type="password" placeholder="Enter Password"  formControlName="password">
                </mat-form-field>
            </form><br>
            
            <span style="width: 100%; height: 80px; display: flex; justify-content: center;">
                <button id="btn" mat-raised-button (click)="onLogin()">Login </button>
            </span>
    </mat-card> 

</div>
