<div id="wrapper">
    <br>


    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Lead`s</mat-card-title>
        <mat-card-subtitle>Total: 640</mat-card-subtitle>
      </mat-card-header>
      <mat-icon class="icon_">loyalty</mat-icon>
    </mat-card>
  

  

  
    <mat-card class="example-card" >
      <mat-card-header>
        <mat-card-title>Leave</mat-card-title>
        <mat-card-subtitle>Total : 40</mat-card-subtitle>
      </mat-card-header>
      <mat-icon class="icon_">turned_in_not</mat-icon>
    </mat-card>
    
    <br>
  </div>