<div id="wrapper">
    
    <mat-toolbar>
      <span> View Lead</span>
      <div class="search-box">
         <button class="btn-search"><mat-icon>search</mat-icon> </button>
        <input type="text" class="input-search" placeholder="Type to Search...">
      </div>
    </mat-toolbar>
  
    <mat-card class="example-card" *ngFor="let data of lead_data">
      <mat-card-header (click)="onView(data)">
        <mat-card-title><mat-icon>domain</mat-icon> {{data.productname}}</mat-card-title>
        <mat-card-subtitle *ngIf="data.client_name"><mat-icon>person</mat-icon> {{data.client_name}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="data.contact_no"><mat-icon> phone</mat-icon>{{data.contact_no}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="data.contactperson"> <mat-icon>person</mat-icon> {{data.contactperson}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="data.address" ><mat-icon> location_on</mat-icon> {{data.address}}</mat-card-subtitle>
      </mat-card-header>
    
      <mat-card-actions>

        <button mat-icon-button color="primary" (click)="onEdit(data)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  
  <br>
  </div>